<ion-view view-title="Home">
  <ion-content>
    <h1>Home</h1>

     <!--ion-list>
        <ion-item nav-clear menu-close href="#/app/about" active class="item item-icon-left">
           <span class="icon"><img class="menuicon" src="img/nav-ico-about.png" alt="About" /></span> About
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/playlists" active class="item item-icon-left">
           <span class="icon"><img class="menuicon" src="img/playlist.png" alt="playlist" /></span> Playlist
        </ion-item>

        <ion-item nav-clear menu-close ng-click="login()" active class="item item-icon-left">
           <span class="icon"><img class="menuicon" src="img/login-icon.png" alt="About" /></span> Login
        </ion-item>

         </ion-list-->


  </ion-content>
</ion-view>

