<ion-view view-title="part 6">
  

		<div class="reveal">

			<div class="slides">

				<section class="fragment fade-in" data-background="images/start.JPG" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_know_p02_a01.mp3'>
				<p>
					Add text for user to read while listening may be some info. 
				</p>
				<audio class="audio" data-audio src='audio/c01_know_p02_a01.mp3' controls></audio>
				
			</section>

			<section class="fragment fade-in" data-background="images/05_img_1.png" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_conclusion1.mp3'>
				<p>
					Add text for user to read while listening may be some info.
				</p>
				<audio class="audio" data-audio src='audio/c01_conclusion1.mp3' controls></audio>
			</section>
		</div>
			
		</div>


</ion-view>
