<ion-view view-title="Tutorial 1">
  

		<div class="reveal">

			<div class="slides">

				<section class="fragment fade-in" data-background="images/start.JPG" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_know_p02_a01.mp3'>
				<p>
					Add text for user to read while listening may be some info. 
				</p>
				<ion-footer-bar align-title="left" class="bar-assertive">
				<audio class="audio" data-autoplay src='audio/c01_know_p02_a01.mp3' controls></audio>
				</ion-footer-bar>
			</section>




			<section class="fragment fade-in" data-background="images/05_img_2.png" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_conclusion2.mp3'>
				<p>
					Add text for user to read while listening may be some info.
				</p>
				<ion-footer-bar align-title="left" class="bar-assertive">
				<audio class="audio" data-autoplay src='audio/c01_conclusion2.mp3' controls></audio>
				</ion-footer-bar>
			</section>

			<section class="fragment fade-in" data-background="images/pump_activity.JPG" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_conclusion2.mp3'>
				<p>
					Add text for user to read while listening may be some info.
				</p>
				<ion-footer-bar align-title="left" class="bar-assertive">
				<audio class="audio" data-autoplay src='audio/c01_know_p02_a06.mp3' controls></audio>
				</ion-footer-bar>
			</section>

			<section class="fragment fade-in" data-background="images/syscare.JPG" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_conclusion2.mp3'>
				<p>
					Add text for user to read while listening may be some info.
				</p>
				<ion-footer-bar align-title="left" class="bar-assertive">
				<audio class="audio" preload= "none"  data-autoplay src='audio/c01_know_p02_a07.mp3' controls></audio>
				</ion-footer-bar>
			</section>

			<section class="fragment fade-in" data-background="images/blueman.JPG" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_conclusion2.mp3'>
				<p>
					Add text for user to read while listening may be some info.
				</p>
				<ion-footer-bar align-title="left" class="bar-assertive">
				<audio class="audio" data-autoplay src='audio/c01_know_p02_a02c.mp3' controls></audio>
				</ion-footer-bar>
			</section>
			

			<section class="fragment fade-in" data-background="images/05_img_1.png" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_conclusion1.mp3'>
				<p>
					Add text for user to read while listening may be some info.
				</p>
				<ion-footer-bar align-title="left" class="bar-assertive">
				<audio class="audio" data-autoplay src='audio/c01_conclusion1.mp3' controls></audio>
				</ion-footer-bar>
			</section>
		</div>
			
		</div>


</ion-view>
