<ion-view view-title="part stateParams">
  

		<div class="reveal">

			<div class="slides">
				<ion-content>
				<section class="fragment fade-in" data-background="images/start.JPG" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_know_p02_a01.mp3'>
				<p>
					Add text for user to read while listening may be some info. 
				</p>
			</ion-content>
				<ion-footer-bar align-title="left" class="bar-assertive">
				<audio class="audio" data-audio src='audio/c01_know_p02_a01.mp3' controls></audio>
				</ion-footer-bar>
			</section>

			<section class="fragment fade-in" data-background="images/05_img_1.png" data-audio-text="With audio slideshows you can add recorded audio to whatever you want to deliver to your audience" data-audio-src='audio/c01_conclusion1.mp3'>
				<p>
					Add text for user to read while listening may be some info.
				</p>
				<ion-footer-bar align-title="left" class="bar-assertive">
				<audio class="audio" data-audio src='audio/c01_conclusion1.mp3' controls></audio>
			</ion-footer-bar>
			</section>
		</div>
			
		</div>


</ion-view>
