<ion-view hide-nav-bar="true" cache-false = "true">
   
  <ion-content class="ionic login " style="background-image: url('../img/mountains.jpg');">
    
       
        <div class="hero no-header flat">
            <div class="content">
                
      <img class="logo" src="img/logo.png"/>
    
            </div>
        </div>
       
            

         <form name="signinForm" novalidate="" ng-submit="signIn(signinForm)">

            <div class="list">
              <label class="item item-input item-md-label" placeholder="Email" highlight-color="balanced" type="text" 
                     ng-class="{ 'has-error' : signinForm.username.$invalid}"> 
                <span class="input-label">Username</span>
                <input type="text"
                       name="username"
                       ng-model="user.username" 
                       required>
              </label>

              <div class="form-errors" ng-messages="signinForm.username.$error" ng-if='signinForm.username.$touched' ng-messages-include="app/authentication/error-list.html">
                <div class="form-error" ng-message="maxlength">This field is must be less than 10 characters</div>
              </div>

              <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password" 
                     ng-class="{ 'has-error-lr' : signinForm.password.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.password.$valid  && signinForm.$submitted}">
                <span class="input-label">Password</span>
                <input type="password"
                       name="password"
                       ng-model="user.password" 
                       ng-minlength="5" 
                       ng-maxlength="25"
                       required>
              </label>
              <div class="form-errors" 
                   ng-show="signinForm.password.$error && signinForm.$submitted"
                   ng-messages="signinForm.password.$error"
                   ng-messages-include="app/authentication/error-list.html">
              </div>
            </div>
            <div class="padding">
            <button class="button button-block button-positive waves-effect waves-button waves-light" type="submit">Login</button>
        
            </div>

          </form>   
        <div class="button-bar">
            <button class="button button-small button-outline button-assertive light-bg icon-left ion-social-google waves-effect waves-button waves-light" ng-click="gplusLogin()">Google+</button>
            <button class="button button-small button-outline button-positive light-bg icon-left ion-social-facebook waves-effect waves-button waves-light" ng-click="fbLogin()">Facebook</button>
        </div>
    

   
  </ion-content>
</ion-view>
