<ion-view hide-nav-bar="true" cache-false = "true">
   
  <ion-content class="ionic login " style="background-image: url('../img/mountains.jpg');">
    
       
        <div class="hero no-header flat">
            <div class="content">
                
      <img class="logo" src="img/logo.png"/>
    
            </div>
        </div>
       
            

        <form name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)"> 
        
          <div class="list">
          
            <label class="item item-input item-md-label" placeholder="Username" highlight-color="balanced" type="text" ng-class="{ 'has-errors' : authorizationForm.username.$invalid, 'no-errors' : authorizationForm.username.$valid}">
              <span class="input-label">Username</span>
              <input type="text" name="username" ng-model="authorization.username" ng-minlength="5" ng-maxlength="20" required>
            </label>
            
            <div class="error-container" ng-show="authorizationForm.username.$error" ng-messages="authorizationForm.username.$error">
              <div ng-messages-include="error-list.html"></div>
            </div>
            
            <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
              <span class="input-label">Password</span>
              <input type="password" name="password" ng-model="authorization.password" ng-minlength="5" ng-maxlength="20" required>
            </label>
            
            <div class="error-container last-error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error">
                <div ng-messages-include="error-list.html"></div> 
            </div>          
            
          </div>     
          
           <div class="padding">
            <button class="button button-block button-positive waves-effect waves-button waves-light" type="submit">Login</button>
        </div>
            
        </form>   
        <div class="button-bar">
            <button class="button button-small button-outline button-assertive light-bg icon-left ion-social-google waves-effect waves-button waves-light">Google+</button>
            <button class="button button-small button-outline button-positive light-bg icon-left ion-social-facebook waves-effect waves-button waves-light">Facebook</button>
        </div>
    

   
  </ion-content>
</ion-view>
<script id="error-list.html" type="text/ng-template">  
    <div class="error" ng-message="required">
      <i class="ion-information-circled"></i> 
      This field is required!
    </div>
    <div class="error" ng-message="minlength">
      <i class="ion-information-circled"></i> 
      Minimum length of this field is 5 characters!
    </div>
    <div class="error" ng-message="maxlength">
      <i class="ion-information-circled"></i> 
      Maximum length of this field is 20 characters!
    </div>
  </script>   