<ion-view hide-nav-bar="true" class="signup view-container">
    <ion-content class="signup_container HelveticaBody" style="background-image: url('../img/mountains.jpg');background-size:cover;">
    
    <div class="signup_header padding">
      <button ng-click="goToIntro()" class="button back-button buttons  button-clear header-item"><i class="icon ion-ios-arrow-back"></i> <span class="heading HelveticaHeading"><span class="title-center">SIGNUP</span></span>
     </div>
     <div class="ionic login signup">	
      <div class="button-bar">
            <button ng-click="gplusLogin()" class="button button-small button-outline button-assertive light-bg icon-left ion-social-google waves-effect waves-button waves-light">Google+</button>
            <button ng-click="fbLogin()" class="button button-small button-outline button-positive light-bg icon-left ion-social-facebook waves-effect waves-button waves-light">Facebook</button>
        </div>
        <div class="or">
        <span></span><span>OR</span><span></span>
      </div>

      <!--form name="signupForm" novalidate="" ng-submit="signUp(signupForm)"> 
        
          <div class="list">
              <label class="item item-input item-md-label" placeholder="name" highlight-color="balanced" type="text" 
                     ng-class="{ 'has-error' : signupForm.username.$invalid}">
                <span class="input-label">Username*</span>
                <input type="text"
                       name="username"
                       ng-model="user.username" 
                       ng-minlength="5" 
                       ng-maxlength="10" 
                       required>
              </label>

              <div class="form-errors" ng-messages="signupForm.username.$error" ng-messages-include="app/authentication/error-list.html">
                <div class="form-error" ng-message="maxlength">This field is must be less than 10 characters</div>
              </div>

               <label class="item item-input item-md-label" placeholder="Email" highlight-color="balanced" type="text" 
                     ng-class="{ 'has-error' : signupForm.username.$invalid}">
    <span class="input-label">Email*</span>
    <input type="email"
           name="myEmail"
           ng-model="user.myEmail"
           required />
  </label>

  <div class="form-errors"
  		 ng-show="signupForm.myEmail.$error && signupForm.$submitted"
                   ng-messages="signupForm.myEmail.$error"
                   ng-messages-include="app/authentication/error-list.html">
                   <div class="form-error" ng-message="email">Not a valid Email Address!</div>

               </div>


              <label class="item item-input item-md-label" placeholder="PostCode" highlight-color="energized" type="tel" 
                     ng-class="{ 'has-error-lr' : signupForm.password.$invalid  && signupForm.$submitted, 'valid-lr' : signupForm.PostCode.$valid  && signupForm.$submitted}">
                <span class="input-label">Post-Code</span>
                <input type="tel"
                       name="PostCode"
                       ng-model="user.PostCode" 
                       ng-minlength="5" 
                       ng-maxlength="9"
                       >
              </label>
                <label class="item item-input item-md-label">
      <span class="input-label">Password</span>
      <input type="password" name="password" ng-model="user.password" required />
      <div class="form-errors" ng-messages="signupForm.password.$error" ng-if='signupForm.password.$touched'>
        <span class="form-error" ng-message="required">Please enter the password</span>
      </div>
    </label>
    <label class="item item-input item-md-label">
      <span class="input-label">Password confirmation</span>
      <input type="password" name="password_confirmation" ng-model="user.password_confirmation" required="" confirm-pwd="registerData.password" />
      <div class="form-errors" ng-messages="signupForm.password_confirmation.$error" ng-if='signupForm.password_confirmation.$touched'>
        <span class="form-error" ng-message="required">Password confirmation required</span>
        <span class="form-error" ng-message="password">Password different</span>
      </div>
    </label>
              </div>
            <div class="padding">
            <button class="button button-block button-positive waves-effect waves-button waves-light" type="submit">Signup</button>
        
            </div>

        </form-->
          <form name="autentication_form" novalidate="" ng-submit="signUp(autentication_form)">
            <label class="item item-input item-md-label">
      <span class="input-label">Username</span>
      <input type="text" name="username" ng-model="registerData.username" required="" />
      <div class="form-errors" ng-messages="autentication_form.username.$error" ng-if='autentication_form.username.$touched'>
        <span class="form-error" ng-message="required">You did not enter the username</span>
          
      </div>
    </label>
    <label class="item item-input item-md-label">
      <span class="input-label">Email</span>
      <input type="email" name="email" ng-model="registerData.email" required="" />
      <div class="form-errors" ng-messages="autentication_form.email.$error" ng-if='autentication_form.email.$touched'  ng-messages-include="app/authentication/error-list.html">
        <span class="form-error" ng-message="required">You did not enter the email</span>
          <span class="form-error" ng-message="email">Not a valid Email Address!</span>
      </div>
    </label>
    <label class="item item-input item-md-label">
      <span class="input-label">Password</span>
      <input type="password" name="password" ng-model="registerData.password" required />
      <div class="form-errors" ng-messages="autentication_form.password.$error" ng-if='autentication_form.password.$touched'>
        <span class="form-error" ng-message="required">Please enter the password</span>
      </div>
    </label>
    <label class="item item-input item-md-label">
      <span class="input-label">Password confirmation</span>
      <input type="password" name="password_confirmation" ng-model="registerData.password_confirmation" required="" confirm-pwd="registerData.password" />
      <div class="form-errors" ng-messages="autentication_form.password_confirmation.$error" ng-if='autentication_form.password_confirmation.$touched'>
        <span class="form-error" ng-message="required">Password confirmation required</span>
        <span class="form-error" ng-message="password">Password different</span>
      </div>
    </label>
     <label class="item item-input item-md-label">
      <span class="input-label">Postcode</span>
      <input type="text" name="postcode" ng-model="registerData.postcode" required=""/>
      <div class="form-errors" ng-messages="autentication_form.postcode.$error" ng-if='autentication_form.postcode.$touched'>
        <span class="form-error" ng-message="required">PostCode required</span>
       
      </div>
    </label>

      <div class="padding">
            <button class="button button-block button-positive waves-effect waves-button waves-light" type="submit">Signup</button>
        
            </div>
  </form>

        

      <!--label class="item">
      	Name
      	<input type="text" required name="name">
      	Email ID
      	<input type="email" required name="email">
      	PostCode
      	<input type="tel" required name="PostCode">

      </label>
      <div class="padding">
            <button class="button button-block button-positive waves-effect waves-button waves-light" ng-click="login();">Signup</button>
        </div>
      </div!-->
</ion-content>
</ion-view>