
<ion-view hide-nav-bar="true" class="home-page intro">
  <ion-content class="intro_container">
    <div class="medLogo_icon_container">
      <img class="logo" src="img/logo.png"/>
    </div>
    <div class="loginIntro_btn_container clearfix HelveticaHeading">
      <button class="button button-clear signup" ng-click="goTosignup();" ><span class="icon ion-android-person-add signup"></span>signUp</button>
      <button class="button button-clear login" ng-click="goTologin();" ><span class="icon ion-log-in login"></span>login</button>

    </div>
        </ion-content>
</ion-view>