/* list modification */
.item {
  color:#006193;
}
.logo {
    width: 100%;
    padding: 0 20px;
}

img.menuicon {
    height: 30px;
    text-align: center;
    padding: 2px;
}

span.icon.menuicon {
    margin-left: -3%;
}
p.slidetext {
    top: -300px;
    position: relative;
}
.clearfix:after{
  content: ""
  display:block;
  clear: both;
}

/* Home Page Design*/

.intro_container, .home_container{
  background-image: url("../img/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home_container .item p{
  font-size: 14px;
  line-height: 20px;
}
.home_container .item h2 {
    font-size: 14px;
    font-weight: bold;
}
.home_container .item h3 {
    margin: 0 0 4px 0;
    font-size: 14px;
    font-weight: bold;
}

.medLogo_icon_container {
    height: 45%;
    padding-top:15%;
}

.home_container .scroll{
  height: 100%;
}
.home_button_container {
    height: 50%;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.home_button_container .row  .title{
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #98a0a3;
}
.home_button_container .button-icon .icon:before{
    font-size: 40px;
    color: #006193;
    display: block;
    padding-bottom: 10px;
}
.home_button_container .row + .row {
    margin-top: -7%;
}
.home_button_container .row{
   height: 36%;
}
.home_button_container a.button-icon{
  padding: 0;
}
.home_button_container .col{
  text-align: center;
  padding: 0px;
}

/*Intro Page Design */
.login_btn_continer{
  position: absolute;
  bottom: 0;
  width: 100%
  height:75%;
}

.loginIntro_btn_container button.button.button-clear .signup{
  float: left;
}

.loginIntro_btn_container button.button-clear.login{
  float: right;
}

.intro_container .scroll {
    height: 100%;
}
.intro_container .medLogo_icon_container {
    height: 80%;
    padding-top:15%;
}
span.icon.ion-log-in.login {
    padding-right: 10px;
    color: #0066A4;
}
span.icon.ion-android-person-add.signup {
    padding-right: 10px;
    color: #0066A4;
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .medLogo_icon_container {
    height: 33%;
    padding-top: 5px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}
.home_button_container{
  position: relative;
}
.logo {
    width: 100%;
    padding: 0px 100px;
}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


     .medLogo_icon_container {
    height: 33%;
    padding-top: 5px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}
.home_button_container{
  position: relative;
}
.logo {
    width: 100%;
    padding: 0px 100px;
}

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

  .medLogo_icon_container {
    height: 33%;
    padding-top: 5px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}
.home_button_container{
  position: relative;
}
.logo {
    width: 100%;
    padding: 0px 100px;
}

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

    .medLogo_icon_container {
    height: 33%;
    padding-top: 5px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}
.home_button_container{
  position: relative;
}
.logo {
    width: 100%;
    padding: 0px 100px;
} 

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .logo {
    width: 100%;
    padding: 0 50px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .logo {
    width: 100%;
    padding: 0 150px;
    }

}

/* Google Nexus 10 Tab Landscape */

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .medLogo_icon_container {
    height: 33%;
    padding-top: 25px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}

.logo {
    width: 100%;
    padding: 0px 150px;
} 

}

