/* list modification */
.item {
  color:#006193;
}
.logo {
    width: 100%;
    padding: 0 20px;
}

img.menuicon {
    height: 30px;
    text-align: center;
    padding: 2px;
}

span.icon.menuicon {
    margin-left: -3%;
}
p.slidetext {
    top: -300px;
    position: relative;
}
.clearfix:after{
  content: ""
  display:block;
  clear: both;
}

/* Home Page Design*/
#welcome-view {
    background: url(../img/welcome_bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.logo-welcome {
    width: 120px;
    height: 120px;
    margin: 100px auto 60px auto;
    background: url(../img/ionic.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.intro_container, .home_container{
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home_container .item p{
  font-size: 14px;
  line-height: 20px;
}
.home_container .item h2 {
    font-size: 14px;
    font-weight: bold;
}
.home_container .item h3 {
    margin: 0 0 4px 0;
    font-size: 14px;
    font-weight: bold;
}

.medLogo_icon_container {
    height: 45%;
    padding-top:15%;
}

.home_container .scroll{
  height: 100%;
}
.home_button_container {
    height: 50%;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.home_button_container .row  .title{
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #98a0a3;
}
.home_button_container .button-icon .icon:before{
    font-size: 40px;
    color: #006193;
    display: block;
    padding-bottom: 10px;
}
.home_button_container .row + .row {
    margin-top: -7%;
}
.home_button_container .row{
   height: 36%;
}
.home_button_container a.button-icon{
  padding: 0;
}
.home_button_container .col{
  text-align: center;
  padding: 0px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.login-btns {
    width: 250px;
    margin: 0 auto 0 auto;
}

#btn-reg {
    float: right;
}

#login-divider {
    margin: 40px 0 10px 0;
}

#footer {
    background: #5A5A5A;
    opacity: 0.4;
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

#btn-reg, #btn-login {
    color: white;
}


/*Intro Page Design */
.login_btn_continer{
  position: absolute;
  bottom: 0;
  width: 100%
  height:75%;
}

.loginIntro_btn_container button.button.button-clear .signup{
  float: left;
}

.loginIntro_btn_container button.button-clear.login{
  float: right;
}

.intro_container .scroll {
    height: 100%;
}
.intro_container .medLogo_icon_container {
    height: 50%;
    padding-top:15%;
}
span.icon.ion-log-in.login {
    padding-right: 10px;
    color: #0066A4;
}
span.icon.ion-android-person-add.signup {
        padding-right: 10px;
    color: #0066A4;
    text-align: center;
    vertical-align: initial;
}
/*------ Signup start -----*/
.signup .button .icon {
    color: #000;
} 
.signup input {
        border: 1px solid rgba(102, 102, 102, 0.45);
    width: 100%;
    background-color: transparent;
    padding-left: 10px;
    }
.signup .button-signup {
    border-radius: 2px;
    -moz-box-shadow: outset 0 1px 0 0 #5f7aaf;
    -webkit-box-shadow: outset 0 1px 0 0 #666;
    box-shadow: 0px 4px 1px 4px #eee;
    background-color: #FFF;
    background: -moz-linear-gradient(top, #4e6ba5, #2e4886);
    background: -ms-linear-gradient(top, #4e6ba5, #2e4886);
    background: -webkit-linear-gradient(top, #FFF, #fff);
    border: 1px;
    border-style: outset;
    color: #666;
    line-height: 1.13;
    position: relative;
    text-align: center;
    font-size: 20px;
    width: 90%;
    text-align: center;
    margin: 0 5%;
}
.or {
    margin: 10px 0;
}
.or span:first-child, .or span:last-child {
    display: inline-block;
    width: 45%;
    height: 0px;
    border-bottom: 1px solid #7888A0;
    vertical-align: middle;
}
.or span:nth-child(2) {
    /* margin: 0px 10px; */
    color: #3C5898;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 9%;
    text-align: center;
}
.bar .title.title-left{
  text-align: center;
}
label.item {
    border: none;
}

/*------ Signup ends -----*/
/* chapters CSS starts*/
.bar.mychapterdetails.bar-positive {
    position: relative;
}
.alert {
    margin-top: 15px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Chapter CSS Ends*/

/*Error Message Design Starts*/
label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 0px 0 10px 12px;
  color: red;
  font-size: 13px;
}
span.loggedUser {
    font-size: 11px;
    float: right;
    color: #006193;
}
/*Error Message Design Ends */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .medLogo_icon_container {
    height: 33%;
    padding-top: 5px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}
.home_button_container{
  position: relative;
}
.logo {
    width: 100%;
    padding: 0px 100px;
}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


     .medLogo_icon_container {
    height: 33%;
    padding-top: 5px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}
.home_button_container{
  position: relative;
}
.logo {
    width: 100%;
    padding: 0px 100px;
}
.intro_container .medLogo_icon_container {
    height: 25%;
    padding-top: 3%;
}

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

  .medLogo_icon_container {
    height: 33%;
    padding-top: 5px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}
.home_button_container{
  position: relative;
}
.logo {
    width: 100%;
    padding: 0px 100px;
}
.intro_container .medLogo_icon_container {
    height: 25%;
    padding-top: 3%;
}

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

    .medLogo_icon_container {
    height: 33%;
    padding-top: 5px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}
.home_button_container{
  position: relative;
}
.logo {
    width: 100%;
    padding: 0px 100px;
} 
.intro_container .medLogo_icon_container {
    height: 25%;
    padding-top: 3%;
}

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .logo {
    width: 100%;
    padding: 0 50px;
  }
 
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .logo {
    width: 100%;
    padding: 0 150px;
    }
     p.slidetext {
    top: -211px;
    position: relative;
}

}

/* Google Nexus 10 Tab Landscape */

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .medLogo_icon_container {
    height: 33%;
    padding-top: 25px;
  }

  .home_button_container .row + .row {
    margin-top: 0;
}

.logo {
    width: 100%;
    padding: 0px 150px;
} 

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .medLogo_icon_container {
    padding-top: 5%;
  }
  .home_button_container .row + .row {
    margin-top: 0%;
  }
  .logo {
    width: 100%;
    padding: 0 250px;
  }
  p.slidetext {
    top: -296px;
    position: relative;
}
.reveal.center, .reveal.center .slides, .reveal.center .slides section {
    min-height: 0 !important;
    max-width: 70%;
    margin: 0 auto;
}
}

/* ----------- Non-Retina low resolution Screens ----------- */
@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .medLogo_icon_container {
    padding-top: 5%;
  }
  .home_button_container .row + .row {
    margin-top: 0%;
  }
  .logo {
    width: 100%;
    padding: 0 250px;
  }
  p.slidetext {
    top: -347px;
    position: relative;
}
.reveal.center, .reveal.center .slides, .reveal.center .slides section {
    min-height: 0 !important;
    max-height: 75%;
    margin: 0 auto;

}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

     .medLogo_icon_container {
    padding-top: 5%;
  }
  .home_button_container .row + .row {
    margin-top: 0%;
  }

  .logo {
    width: 100%;
    padding: 0 250px;
  }
  p.slidetext {
    top: -296px;
    position: relative;
}
.reveal.center, .reveal.center .slides, .reveal.center .slides section {
    min-height: 0 !important;
    max-width: 70%;
    margin: 0 auto;
}
}




